.banner {
  background-color: var(--color_primary);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  font-family: var(--font_text);
  font-weight: normal;
  font-size: 24px;
  height: 120px; 
}

.icono-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--color_secondary);
  margin: 5px;
}

.icono-banner i {
  font-size: 30px; 
  margin-bottom: 5px;
}

.icono-banner span a{
  text-decoration: none;
  color: var(--color_secondary);
}

/* Medios de pago */
.banner-medios {
  background-color: var(--color_tertiary);
  color: var(--text_color_secondary);
  text-align: center;
}

h5 {
  font: var(--font_title_two);
  color: var(--color_secondary);
  font-size: 2em;
  font-style: normal;
  margin-top: 20px;
}

.informacion {
  text-align: center;
}

.informacion p {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.icono-tarjetas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.icono-tarjetas i {
  font-size: 40px;
  margin-right: 10px;
  color: var(--text_color_secondary);
}

/* Envios */
.banner-envios {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color_tertiary);
  padding: 20px;
}

h5 {
  font-family: var(--font_title_two); 
  color: var(--color_secondary);
  font-size: 2em; 
  font-style: normal;
}

.contenedor-envios {
  display: flex;
  justify-content: space-between; 
  width: 100%;
}

.icono-envios {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--text_color);
  margin-bottom: 20px;
  margin-top: 20px;
}

.icono-envios i {
  font-size: 40px;
  margin-bottom: 10px;
  margin-left: 70px;
  color: var(--text_color_secondary);
}

.icono-envios p {
  font-weight: bold;
  margin-bottom: 5px;
  font-family: var(--font_text);
  font-size: 20px;
  margin-left: 70px;
  color: var(--text_color_secondary);
}

.icono-envios span {
  font-size: 16px;
  margin-left: 70px;
}

@media screen and (max-width:768px){
  .icono-banner span{
    font-size: smaller;
    width: 50vw;
  }

  .banner{
    display: flex;
    height: auto;
    overflow-x: auto;
  }
  .icono-envios{
    border: 1px solid var(--color_secondary);
    padding: 3vw;
    width: 100%;  
    display: flex;
    justify-content: center;
  }
  .icono-envios i,.icono-envios p,.icono-envios span{
    margin: 0;
    padding: 0;
    color: var(--color_secondary);
  }

  .icono-envios div{
    margin: auto;
    align-content: center;
  }

  .contenedor-envios{
    display: flex;
    flex-direction: column;
  }
}