.banner {
  background-color: var(--color_primary);
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-family: var(--font_text);
  font-weight: normal;
  font-size: 1.3em;
}

.contenedor-icono-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--color_secondary);
  margin: 5px;
}

.contenedor-icono-banner i {
  font-size: 30px;
  margin-bottom: 5px;
}

.contenedor-icono-banner p a {
  text-decoration: none;
  color: var(--color_secondary);
}


@media screen and (max-width:768px) {
  .contenedor-icono-banner {
    font-size: smaller;
    width: 50vw;
  }

}

@media screen and (max-width:425px) {

  .banner {
    display: flex;
    overflow-x: auto;
    margin: 0;
    padding: 0;
  }

  .contenedor-icono-banner i {
    scale: .7;
  }

  .contenedor-icono-banner p {
    font-size: small;
  }
  

  .contenedor-icono-banner {
    min-width: 50vw;
  }

}