body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1;
} 

#footer{
    width: 100%;
    background-color: var(--color_primary);
    padding: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.ft-text{
    color: var(--color_secondary);
    font-family: var(--font_text);
    font-weight: 300;
    text-align: center;
    margin: 0;
    cursor: default;
}

#ft-title{
    font-family: var(--font_title_two);
    font-size: 1.4em;
    font-weight: 500;
    margin: 2vh 0 3vh 0;
}

#about{
    display: flex;
    flex-wrap: wrap;
    padding: 0 3vw;
}

:root{
    --color_shadow_card:rgba(68, 57, 95, 0.5);
}

.card-info{
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    margin: 0 auto;
    border: 1px solid var(--color_cuaternary);
    border-radius: 10px;
<<<<<<< HEAD
    box-shadow: 10px 10px 10px var(--color_shadow_card);
=======
    transition: all 300ms;
}

.card-info:hover{
    scale: 1.1;
    box-shadow: 0px 6px 15px var(--color_secondary);

}

.social-net:hover{
    cursor: pointer;

    .icon{
        color: var(--color_secondary);
    }
    .ft-a{
        color: var(--color_secondary);
    }
>>>>>>> Lourdes
}

.foto{
    width: 90px;
    height: 90px;
    background-color: var(--color_tertiary);
    margin: 0 auto;
    border-radius: 100%;
}

.list-info {
    margin: 0 auto;
    list-style: none;
    padding-top: 1vh;
}

.name{
    font-size: .9em;
    padding-bottom: 1vh;
    list-style: none;
}

.ft-list{
    display: flex;
    margin: 1.1vh;
    gap: 1.1vw;
}

.social-net{
    font-size: 0.75em;
    display: flex;
    gap: .3vw;
    cursor: pointer;
}

.icon{
    scale: 1.1;
    color: var(--color_cuaternary);
}


#copyright{
    font-size: .8em;
    padding: 1vh 0;
}

.ft-a{
    text-decoration: none;
    color: var(--color_cuaternary);
}


.push{
    width: 2vw;
    height: 2vh;
    color: var(--color_secondary);
    rotate: -90deg;
    /* margin: 1vw 0; */
    position: relative;
    left: calc(100% - 2vw);
    cursor: pointer;
    animation-duration: 10s;
    animation-name: animationButton;
}

@keyframes animationButton {

    from {
        opacity: 0;
        filter:alpha(opacity=0);
    
    }
    50%{
        opacity: 0;
    }
    
    to {
        opacity: 1;
        filter:alpha(opacity=100);
    
}
}

:root{
    --bg_color_ft:rgba(68, 57, 95, 0.2);
    --color_info:rgba(160, 107, 233, 0.5);
    --border_ft:#6a5d8a33;
    --color_shadow_ft:rgba(106, 93, 138, 0.5);
}

/* estilos para tablet */
@media screen and (max-width:768px){
    #copyright{
        padding-bottom: .5em;
    }

    #footer{
        height: auto;
        padding: 0;
    }
    
    .ft-text{
        color: var(--color_cuaternary);
    }

    #copyright{
        padding-bottom: 2vh;
    }

    #about{
        margin: 2vh 0;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1vw;
    }

    #ft-title{
        padding: 1vh 0;
    }

    .card-info{
        padding: 1vh 0;
        border: none;
        box-shadow: none;
    }

    .foto{
        display: none;
    }

    .push{
        display: none !important;
    }

    .list-info{
        color: var(--color_secondary);
        height: 15vh;
        width: 23vw;
        background-color: var(--bg_color_ft);
        border-radius: 10px;
        border: 1px solid var(--border_ft);
        box-shadow: 10px 10px 10px var(--color_shadow_ft);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ft-a{
        display: none;
    }

    .name{
        color: var(--color_info);
    }

    .ft-list{
        display: flex;
        justify-content: center;
        gap: 5vw;
    }
    .social-net{
        padding: 1.5vh 0;
    }
    .icon{
        scale: 1.3;
        color: var(--color_secondary);
    }
}

/* estilos para celulares */
@media screen and (max-width:425px) {
    .list-info{
        width: 40vw;
        height: 16vh;
    }
    
}