#info-main{
    min-width: 100%;
    height: auto;
    background-color: var(--color_tertiary);
}

#conteiner-info-main{
    width: 80vw;
    height: 65vh;
    margin: 5vh auto;
    border-radius: 5px;

    background-image: url("/assets/images/assassin\'s_creed_valhalla.jpeg");
    background-size: cover;
    background-position: center;
    opacity: 0.3;
}

