#info-main{
    min-width: 100%;
    height: auto;
    display: flex;

    .fa-chevron-left, .fa-chevron-right{
        scale: 1.3;
        color: transparent;
        transition: all 300ms;
        position: absolute;
        z-index: 10;
        display: flex;
        top: calc(100vh - 62vh);
    }
    .fa-chevron-left{
        left: 0;
        
    }
    .fa-chevron-right{
        right: 0;
    }
}

#cont-list-game-main{
    display: flex;
    overflow-x: auto;
}
#cont-list-game-main::-webkit-scrollbar{
    display: none;
}

.container-info-main{
    --margin-left-rigth: calc(100vw - 90vw);
    --bg-pseudo : url("../assets/images/game_assassin's_creed_valhalla.jpeg");
    width: 80vw;
    margin: 2vh var(--margin-left-rigth);
    position: relative;
    padding: 3vh 2vw;

    font-family: var(--font_text);
    color: var(--text_color);

    display: grid;
    grid-template-columns: repeat(4 1fr);

    .fa-heart{
        scale: 1.5;
        padding: 4px;
        margin: 0;
        color: var(--color_secondary);
        background-color: transparent;
        transition: all 300ms;
        position: absolute;
        right: 0;
    }
    .fa-heart:active{
        scale: 1.8; 
    }
}
#cont-list-game-main li{
    list-style: none;
}

#buttons-i-m{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;

    grid-column: 4;
    grid-row: 4;
}
.c-button{
    border-radius: 5px;
    min-width: 14vw;
    min-height: 6vh;
    background-color:var(--color_secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5vw;
    font-size: .95em;
}

#b-add-cart{
    background-color: var(--text_color_secondary);
    color: var(--color_secondary);
}

.btn-heart{
    width: auto;
    display: block;
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: relative;

    grid-row: 1;
    grid-column: 4;
}

#container-img-game{
    width: 20vw;
    min-height: 100%;
    margin: auto 0;

    display: flex;
    flex-direction: column;
    
    grid-row: 1 / 5;
    grid-column: 1;
}


.info-i-m{
    padding: 0 1vw;
    cursor: default;

    grid-column: 2 / 4;
    grid-row: 1 / 5;
}

#title-game-i-m{
    font-family: var(--font_title_two);
    font-weight: 600;
    font-size: 2em;
}

#info-game-i-m{
    font-weight: 300;
    font-size: 1em;
}

#subtitle-i-m{
    font-weight: 400;
    font-size: 1em;
    margin-top: 1vh;
}

#data-sheet-i-m{
    list-style: none;
    font-weight: 300;
    font-size: .9em;
}

.btn-info{
    background-color: transparent;
    border: none;
    color: var(--text_color);
    font-family: var(--font_text);
    text-decoration: underline;
    display: none;
    cursor: pointer;
}

@media screen and (min-width: 769px) {
    #info-main:hover{
        .fa-chevron-left, .fa-chevron-right{
            color: var(--color_cuaternary);
        }
    }
    .container-info-main{
        height: 56vh;
    }
    .container-info-main::before {
        content: "";
        position: absolute;
        z-index: -1;
        opacity: 0.2;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: var(--bg-pseudo);
        background-size: cover;
        background-position: center;
        border-radius: 5px;
    
    }
    #tag-price{
        width: 100%;
        margin: 0 auto;
        background-color: var(--color_primary);
        cursor: default;
        border-radius: 0 0 5px 5px;
    }
    .img-card-main{
        border-radius: 3px 3px 0 0;
        flex: 1;
    }
    
    #b-buy:hover{
        background-color: var(--color_primary);
        color: var(--color_secondary);
        animation-duration: 650ms;
        animation-name: palp;
        cursor: pointer;
    }
    
    #b-add-cart:hover{
        background-color: var(--color_cuaternary);
        color: var(--text_color_secondary);
        animation-duration: 650ms;
        animation-name: palp;
        cursor: pointer;
    }
    @keyframes palp {
        from{
            scale: 1;
        }
        50%{
            scale: 1.1;
        }
        to{
            scale: 1;
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
    #info-main{
        background-color: var(--color_primary);
        
        .fa-chevron-left, .fa-chevron-right{
            display: flex;
            color: var(--color_secondary);
        }
    }
    #cont-list-game-main{
        height: auto;
    }

    .container-info-main{
        background-color: transparent;
        margin: 5vh var(--margin-left-rigth);
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3 1fr);
        grid-template-rows: auto 4fr auto;
        overflow: hidden;
        height: 60vh;
        border-radius: 5px;
    }

    #container-img-game{
        width: 100%;
        grid-column: 1 / 4;
        grid-row: 1 / 4;
        overflow: hidden;
        flex-direction: column-reverse;
    }
    .img-card-main{
        overflow: hidden;
        opacity: .3;
        
    }
    #tag-price{
        background-color: transparent;
        position: absolute;
        z-index: 10;
        align-items: flex-start;
        justify-content: flex-start;
        top: 0;
        margin: 8px;
        font-size: 1.2em;
    }

    .info-i-m{
        grid-column: 1 / 4;
        grid-row: 2;
        position: absolute;
        z-index: 10;
        color: var(--text_color);
        top: 10%;
    }

    #info-1{
        display: flex;
    } 

    #info-game-i-m{
        width: 60%;
    }

    .info-2{
        margin: 0 auto;
    }

    .btn-heart{
        grid-column: 3;
        grid-row: 1;
        margin: 5px;
        position: absolute;
        z-index: 10;
        right: 0;
    }

    #buttons-i-m{
        position: absolute;
        z-index: 10;
        width: 100%;
        bottom: 0;
        display: flex;
        flex-direction: row;
        gap: 4vw;
        grid-row: 3;
        grid-column: 1 / 4;
        align-items: end;
        padding-bottom: 1vh;
    }
    .c-button{
        width: 100%;
        height: 8vh;
        margin: 0 1vw;
    }

}

@media screen and (max-width:425px) {
    .fa-chevron-left, .fa-chevron-right{
        display: none !important;
    }
    .container-info-main{
        --margin-left-rigth: calc(100vw - 95vw);
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 90vw;
        margin: 2vh var(--margin-left-rigth);
    }
    #cont-list-game{
        height: auto;
    }
    #container-img-game{
        width: 100%;
        height: 150px !important;
        overflow: hidden !important;
        border-radius: 5px;
    }

    .btn-heart{
        position: absolute;
        right: 0;
        margin: 1vh;
    }
    #tag-price{
        position: absolute;
        background-color: transparent;
        top: 0;
        justify-content: left;
        font-size: 1.2em;
        padding: 1.5vw;
    }
    .info-i-m{
        min-height: 260px;
    }
    #info-1{
        flex-direction: column;
        font-size: 1em;
    }
    #info-game-i-m{
        width: 100%;
        grid-row: 2;
        position: relative !important;
        z-index: 0;
        font-size: .95em;
    }
    .info-2{
        margin: 1vw 0;
    }

    #buttons-i-m{
        position: relative !important;
        z-index: 0;
        flex-direction: column;
        grid-row: 3;
    }

    .btn-info{
        margin: 1vw 0 3vw 0;
        padding: 1vw;
    }
    .c-button{
        height: 6vh;
        width: 100%;
    }
}