#info-main{
    min-width: 100%;
    height: auto;
}

.conteiner-info-main{
    width: 80vw;
    height: auto;
    margin: 5vh auto;
    position: relative;
    padding: 3.5vh 2vw;

    font-family: var(--font_text);
    color: var(--text_color);

    display: grid;
    grid-template-columns: repeat(4 1fr);
}

.conteiner-info-main::before {
    content: "";
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url("../assets/images/assassin\'s_creed_valhalla.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;

}

#buttons-i-m{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;

    grid-column: 4;
    grid-row: 4;
}
.c-button{
    border-radius: 5px;
    min-width: 15vw;
    min-height: 6vh;
    background-color:var(--color_secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5vw;
}

#b-add-cart{
    background-color: var(--text_color_secondary);
    color: var(--color_secondary);
}

#heart{
    width: auto;
    display: block;
    /* flex-direction: row;
    justify-content: end; */
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: relative;

    grid-row: 1;
    grid-column: 4;
}
#btn-add-fav, #btn-fav{
    position: absolute;
    right: 0;
}
#btn-add-fav{
    display: none;
}
.fa-heart{
    scale: 1.3;
    padding: 4px;
    margin: 0;
    color: var(--color_secondary);
    background-color: transparent;
    transition: all 300ms;
    
}
.fa-heart:active{
    scale: 1.6; 
}

#conteiner-img-game{
    min-width: 22vw;
    min-height: 100%;
    background-image: url("../assets/images/assassin\'s_creed_valhalla.jpeg");
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    margin: auto 0;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    
    grid-row: 1 / 5;
    grid-column: 1;
}
#tag-price{
    margin: 1vh auto;
    background-color: var(--color_primary);
    cursor: default;
}

.info-i-m{
    padding: 0 1vw;
    cursor: default;

    grid-column: 2 / 4;
    grid-row: 1 / 5;
}

#title-game-i-m{
    font-family: var(--font_title_two);
    font-weight: 600;
    font-size: 2em;
}

#info-game-i-m{
    font-weight: 300;
    font-size: 0.9em;
}

#subtitle-i-m{
    font-weight: 400;
    font-size: 1em;
}

#data-sheet-i-m{
    list-style: none;
    font-weight: 300;
    font-size: .9em;
}

#b-buy:hover{
    background-color: var(--color_primary);
    color: var(--color_secondary);
    animation-duration: 650ms;
    animation-name: palp;
    cursor: pointer;
}
@keyframes palp {
    from{
        scale: 1;
    }
    50%{
        scale: 1.1;
    }
    to{
        scale: 1;
    }
}

#b-add-cart:hover{
    background-color: var(--color_cuaternary);
    color: var(--text_color_secondary);
    animation-duration: 650ms;
    animation-name: palp;
    cursor: pointer;
}
@keyframes palp {
    from{
        scale: 1;
    }
    50%{
        scale: 1.1;
    }
    to{
        scale: 1;
    }
}

@media screen and (max-width:768px) {
    #info-main{
        background-color: var(--color_primary);
    }

    .conteiner-info-main{
        padding: 4vh 1vw;
        margin: 0 auto;
        background-color: transparent;

        display: grid;
        grid-template-columns: repeat(4 1fr);
        grid-template-rows: 1fr auto;
        gap: 10px;
    }

    #conteiner-img-game{
        min-height: 45vh;
        width: 100% ; 

        grid-column: 1 / 5;
        grid-row: 1;
    }

    .info-i-m{
        grid-column: 1 / 5;
        grid-row: 2 / 4;

        color: var(--text_color);
    }

    #info-1{
        display: flex;
    } 

    #info-game-i-m{
        width: 50%;
    }

    #info-2{
        margin: 0 auto;
    }

    #heart{
        grid-column: 4;
        grid-row: 2;
    }

    #buttons-i-m{
        display: flex;
        flex-direction: row;
        gap: 4vw;

        grid-row: 4;
        grid-column: 1 / 5;
    }
    .c-button{
        width: 100%;
    }

    #tag-price{
        width: 50%;
        background-color: var(--color_cuaternary);
        color: var(--text_color);
    }

}

@media screen and (max-width:425px) {
    #info-1{
        flex-direction: column;
        gap: 2vh;
    }
    #info-game-i-m{
        width: 100%;
    }
    #info-2{
        margin: 0;
    }
}