
.m-list-game{
    width: 80vw;
    height: 68vh;
    overflow-y: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    display: none;

}

.m-list-game::-webkit-scrollbar{
    display: none;
}

.m-card-game{
    padding: 1.5vh .3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

    background-color: var(--bg-card-game);

    width: 15vw;
}

.m-data-game{
    font-family: var(--font_text);
    color: var(--text_color_secondary);
    cursor: default;
}

.m-img-game{
    width: 90%;
    border-radius: 8px;
}

.m-title-game{
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1vh;
} 

.m-info-game{
    font-size: 1em;
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    .m-list-game{
        height: auto;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        flex-wrap: nowrap;
        padding: 2vh 0;
    }

    .m-card-game{
        border-radius: 1px;
        height: auto;
        min-width: 25vw;
        border-radius: 10px;
    }
}

/* celulares */
@media screen and (max-width:425px) {
    .m-card-game{
        min-width: 35vw;
    }

    .m-data-game{
        font-size: small;
        padding: 0 1.5vw;
    }
}