:root{
    --color_form:#bbb;
    --color_boton:#010101;
}
#body-log{
    background: 
    linear-gradient(
        var(--color_primary),
        var(--color_secondary)
    );
    overflow: hidden;
}

#header-log{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 4vh 2vw 0 0;
}

#btn-close-log{
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#icon-close{
    scale: 1.6;
    color: var(--color_secondary);
}

#title-log{
    color: var(--color_secondary);
    font-size: 1.8em;
    font-family: var(--font_title);
    padding-bottom: 2vh;
    cursor: default;
}

#main-log{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
}

.text-log{
    font-family: var(--font_text);
    text-align: center;
    cursor: default;
}

#form-log{
    /* width: 23vw; */
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color_form);
    border-radius: 12px;
    padding: 2vh 2vw;
    gap: 1vh;
}

#separator{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0;
}

.line-log{
    width: 100%;
    border-bottom: 1px solid black;
}

#sep-log{
    padding: 0 1.5vw;
}

#questions-log{
    display: flex;
    gap: 3vw;
    color: var(--text_color);
}

#icons-log{
    display: flex;
    gap: 2vw;
    justify-content: space-between;
}

.icon-log-r{
    padding: 10px;
    background-color: var(--text_color);
    border-radius: 10px;
    scale: 1.3;
    margin: 2vh auto;
    cursor: pointer;
}

.qst{
    font-size: .9em;
    font-weight: 400;
    cursor: pointer;
}

#container-box-log{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.box-log{
    height: 7vh;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

#btn-send-log{
    background-color: var(--color_boton);
    font-size: medium;
    color: var(--text_color);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #icons-log{
        width: auto;
        gap: 2vw;
    }
    #form-log{
        width: 40vw;
    }
}

@media screen and (max-width: 425px) {
    #form-log{
        width: 70vw;
    }
    #title-log{
        font-size: 1.5em;
    }
    .text-log{
        font-size: small;
    }
    #questions-log{
        gap: 10vw;
    }
    .qst{
        font-size: small;
    }
    #btn-send-log{
        font-size: small;
    }

}

@media screen and (max-width:320px) {
    #form-log{
        width: 80vw;
        padding: 1vh 4vw;
    }

    .icon-log-r{
        scale: 1.3;
    }
}