:root{
    --color_form:#bbb;
    --color_boton:#010101;
}
#body-log{
    position: relative;
    background: 
    linear-gradient(
        var(--color_primary),
        var(--color_secondary)
    );
    overflow: hidden;
}
.bg-img{
    position: absolute;
    z-index: -1;
    opacity: .9;
    width: 20vw;
    height: 90vh;
    background-size: cover;
}

#img-1{
    rotate: 25deg;
    width: 25vw;
    top: -20%;
}

#img-3{
    width: 40vw;
    height: 100vh;
    top: 20%;
    right: -20%;
    rotate: 20deg;
}

#img-4{
    left: -5%;
    bottom: -20%;
    rotate: -30deg;
}

#header-log{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 4vh 2vw 0 0;
}

#btn-close-log{
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#icon-close{
    scale: 1.6;
    color: var(--color_secondary);
}

#title-log{
    color: var(--color_secondary);
    font-size: 1.8em;
    font-family: var(--font_title);
    padding-bottom: 2vh;
    cursor: default;
}

#main-log{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
}

.text-log{
    font-family: var(--font_text);
    text-align: center;
    cursor: default;
}

#form-log{
    width: 23vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color_form);
    border-radius: 12px;
    padding: 1vh 2vw 2vh;
    gap: 1vh;
}

#separator{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0;
}

.line-log{
    width: 100%;
    border-bottom: 1px solid black;
}

#sep-log{
    padding: 0 1.5vw;
}

#questions-log{
    display: flex;
    gap: 3vw;
    color: var(--text_color);
}

#icons-log{
    display: flex;
    gap: 1vw;
    justify-content: space-between;
}

.icon-log-r{
    padding: 10px;
    background-color: var(--text_color);
    border-radius: 10px;
    scale: 1.3;
    margin: 2vh auto;
    cursor: pointer;
}

.qst{
    font-size: .9em;
    font-weight: 400;
    cursor: pointer;
}

#container-box-log{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.box-log{
    height: 7vh;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

#btn-send-log{
    background-color: var(--color_boton);
    font-size: medium;
    color: var(--text_color);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #form-log{
        width: 35vw;
    }
    #img-1{
        width: 35vw;
    }
    #img-4{
        width: 30vw;
    }
    
    #img-3{
        width: 35vw;
    }
    .bg-img{
        display: none;
    }
}

@media screen and (max-width: 425px) {
    #form-log{
        width: 50vw;
    }
    #title-log{
        font-size: 1.5em;
    }
    .text-log{
        font-size: small;
    }
    .fa-brands{
        scale:1;
        padding: 8px;
    }
    #questions-log{
        flex-direction: column;
    }
    .qst{
        font-size: small;
    }
    #btn-send-log{
        font-size: small;
    }

}