/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font_text);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  background-color: var(--color_primary);
  color: var(--color_secondary);
  /* Aumentamos el padding para incrementar la altura */
  padding: 1.5rem 0;
  /* Agregamos una línea horizontal en la parte inferior */
  border-bottom: 0.25rem solid var(--color_secondary);
  /* Agregamos un margen inferior para alinear hacia abajo 
  margin-bottom: 20px;*/
}

.navbar a {
  color: var(--color_secondary);
  text-decoration: none;
}

.logo {
  flex: 1;
  font-family: var(--font_title);
  font-size: 2em; /* Tamaño de fuente un poco más grande */
}

.menu {
  flex: 3;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  /*align-items: flex-end;  Alineamos todas las opciones del menú hacia la línea inferior */
}

.menu ul li {
  margin: 0 10px;
}

.menu ul li a {
  /*font-weight: bold;  Texto en negrita */
  font-size: 1.2em; /* Tamaño de fuente un poco más grande */
}

.search-profile-cart {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search {
  position: relative;
}

.search input {
  padding: 8px 30px;
  border: none;
  border-radius: 20px;
  background-color: #808080; /* Cambiamos el color de fondo */
}

.search button {
  position: absolute;
  top: 50%;
  left: 10px;
  /* Cambiar de 'right: 10px' a 'left: 10px' */
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search button i,
.icons a i {
  color: var(--text_color_secondary);
  font-size: 1.5em; /* Ajustamos el tamaño de fuente a 1.5 veces el tamaño original */
}

.icons a {
  color: var(--text_color_secondary);
  margin-left: 15px;
  text-decoration: none;
}

.hamburger-menu {
  display: none;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column; /* Alineamos las líneas del menú de hamburguesa una encima de la otra */
}

.hamburger-menu .line {
  width: 2rem;
  height: 0.2rem;
  background-color: var(--text_color);
  margin: 0.2rem;
}

/* Ocultar la "x" en pantallas que no sean móviles */
@media screen and (min-width: 769px) {
  .close-btn-container,
  .menu-options {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 1.4em; /* Tamaño de fuente un poco menos grande */
  }

  .menu ul {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    background-color: var(--color_primary);
  }

  .menu ul li {
    margin: 10px 0;
  }

  .search-profile-cart {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .close-btn-container {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .close-btn {
    font-size: 1.5em;
    color: var(--text_color);
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding-top: 2.25px;
    padding-left: 11.5px;
  }

  .close-btn::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border: var(--text_color) solid 0.2rem;
    border-radius: 50%;
    /* background-color: rgba(255, 255, 255, 0.3); */
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
  }

  .close-btn-container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: initial;
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: -60%; /* Inicialmente oculto a la derecha */
    height: 80%;
    width: 60%; /* Ancho de la solapa cuando esté abierta */
    background-color: var(--color_primary); /* Color principal */
    z-index: 1000; /* Asegurar que esté encima de otros elementos */
    transition: right 0.3s ease; /* Transición suave solo para la posición */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sidebar.open {
    right: 0; /* Desplazamos la solapa a la posición correcta (arriba hacia la derecha) */
  }

  .main {
    /* Otros estilos */
    transition: filter 0.3s ease; /* Agregamos una transición suave */
  }

  .blur {
    filter: blur(5px); /* Aplicamos un filtro de desenfoque */
  }

  .menu-options {
    padding-top: 5rem;
    height: 100%;
    width: 100%;
    /* background-color: red; */
    /* Otros estilos */
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .menu-options p,
  .menu-options a {
    color: var(--text_color);
    text-decoration: none;
    font-size: 1.5rem;
  }

  /* .menu-options p:first-child {
    border-top: 0.2rem solid var(--text_color);
  } */

  .menu-options p {
    border-bottom: 0.2rem solid var(--text_color);
    margin-top: 1.5rem; /* Espacio entre las opciones */
  }

  .menu-options p:last-child {
    padding-bottom: 1rem;
    margin-top: auto; /* Hace que la última opción esté pegada hacia abajo */
    border-bottom: none;
  }
}
