:root{
    --shadow:0px 6px 4px var(--color_primary);
}

.section-p-g{
    width: 100%;
    height: auto;
    padding: 2vh 5vw;
}

.title-p-g{
    color: var(--color_secondary);
    font-family: var(--font_title_two);
    font-weight: 500;
    font-size: 1.7em;
    padding: 2vh 0;
    text-align: center;
    cursor: default;
}

/* iconos */

.fa-chevron-left, .fa-chevron-right{
    color: var(--color_secondary);
    scale: 1.2;
    margin: auto 3vw;
    cursor: pointer;
    background-color: transparent;
}

/* lista */

.list-p-g, .component-p-g{
    display: flex;
    align-items: center;
}
.list-p-g{
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    flex: 1;
    gap: 2vw;
}

/* oculta barra de scroll */
.list-p-g::-webkit-scrollbar {
    display: none;
}

.item-p-g{
    padding: 1.6rem;
    list-style: none;
    cursor: pointer;
    height: auto;
    transition: 300ms;
}
.item-p-g:hover{
    scale: 1.2;
}

.name-p-g{
    color: var(--text_color_secondary);
    font-family: var(--font_text);
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    text-shadow: var(--shadow);
    cursor: default;
}

.img-p-g{
    width: 130px;
    height: 130px;
    border-radius: 100%;
    background-size: contain;
    box-shadow: var(--shadow);
}

/* pantalla de tablet */
@media screen and (max-width:768px){
    
    .fa-chevron-left, .fa-chevron-right{
        display: none !important;
    }
    .component-p-g{
        flex-direction: column;
    }
    

    .section-p-g{
        padding: 0 1vw;
    }

    .list-p-g{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        justify-content: center;
    }

    .img-p-g{
        width: 100%;
        border-radius: 10px;
    }
    .item-p-g{
        width: 45vw;
    }

} 