:root{
    --shadow:0px 6px 4px var(--color_primary);
}

.section-p-g{
    background-color: var(--color_tertiary);
    width: 100%;
    height: auto;
    padding: 2vh 3vw;
}

.title-p-g{
    color: var(--color_secondary);
    font-family: var(--font_title_two);
    font-weight: 500;
    font-size: 1.7em;
    padding: 2vh 0;
    text-align: center;
    cursor: default;
}

/* iconos */

.fa-chevron-left, .fa-chevron-right{
    fill: var(--color_primary);
    scale: 1.2;
    margin: 0 1vw;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* lista */
.component-p-g{
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
}

.list-p-g{
    grid-column: 2;
    display: flex;
    align-items: center;
}
.list-p-g{
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    flex: 1;
    gap: 2vw;
}

/* oculta barra de scroll */
.list-p-g::-webkit-scrollbar {
    display: none;
}

.item-p-g{
    padding: 1.6rem;
    list-style: none;
}

.name-p-g{
    color: var(--text_color_secondary);
    font-family: var(--font_text);
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    text-shadow: var(--shadow);
    cursor: default;
}

.img-p-g{
    width: 130px;
    height: 130px;
    border-radius: 100%;
    background-size: contain;
    box-shadow: var(--shadow);
}
